body {
  padding         : 0;
  margin          : 0;
  background-color: black;
}

#menu {
  position: absolute;
}

#menu a {
  display: inline-block;
  padding: .2em .5em;
  color  : black;
  background-color: whitesmoke;
  text-decoration: none;
  border-radius: .1em;
}

#menu a:hover {
  background-color: #eee;
}

/* Noto Sans Runic—Local file(1 glyph) */
/*
    font-family: "BabelStone Runic Beagnoth","BabelStone Runic Beorhtnoth","BabelStone Runic Beorhtric","BabelStone Runic Beowulf","BabelStone Runic Berhtwald","BabelStone Runic Byrhtferth",Junicode,Kelvinch,"Free Monospaced",Code2000,Hnias,"Noto Sans Runic","Segoe UI Historic","Segoe UI Symbol","San Francisco","New York";
*/